<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bucket List Items:</title>
    <link rel="stylesheet" href="/stylesheets/articles.css">
  </head>



  <body>
    <div>
      <h3>Bucket List:</h3>
      <ul>
        <% @items.each do |row| %>
        <li>
          <%= row['goal'] %>
        </li>
        <% end %>
      </ul>

      <form action="/launcher-bucket-list" method="post">
        <label for="goal">Add New Goal to Bucket List</label>

        <input type="text" name="goal" id="goal">
        <input type="submit" value="Add">

      </form>
    </div>

  </body>
</html>
